// ----------------------------------------------
// Variables Style
// ----------------------------------------------

// colors
$white: #fff !default;
$gray-100: #9F9F9F !default;
$gray-200: #101E3480 !default;
$gray-300: #001B36CC !default;
$gray-400: #001B36 !default;
$black: #000 !default;

// Color
$blue: #101E34 !default;
$indigo: #163352;
$cyan: #CCD8E0;
$red: #721c24;
$green: #00B67A;

// Main Colors
$primary: $blue !default;
$secondary: #FFA437 !default;
$info: $cyan !default;
$danger: $red !default;
$success: $green !default;
$indigo: $indigo !default;
$light: $gray-100 !default;
$muted: $gray-300 !default;
$dark: $gray-400 !default;
$light-gray: $gray-200 !default;

// Theme Colorss
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "danger": $danger,
  "success": $success,
  "indigo": $indigo,
  "light": $light,
  "dark": $dark,
  "muted": $muted,
  "light-gray": $light-gray,
  ) !default;


// light colors
$primary-bg-subtle: #EDF1F3;
$secondary-bg-subtle: rgba(255, 164, 55, 0.2
);

// Spacer
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: 10px,
  7: 12px,
  8: 20px,
  9: 30px,
  10: 40px,
  11: 70px,
  12: 80px,
  13: 90px,
  14: 95px,
  15: 100px,
  16: 105px,
  17: 150px,
  18: 190px
  ) !default;

$utilities: (
  ) !default;
$utilities: (
  "width": (property: width,
    class: w,
    values: (20: 20%,
      25: 25%,
      30: 30%,
      40: 40%,
      50: 50%,
      60: 60%,
      70: 70%,
      75: 75%,
      85: 85%,
      100: 100%,
      auto: auto,
    ),
  ),
);

// Common
$min-contrast-ratio: 1.7 !default;

// Margins
$enable-negative-margins: true !default;
$enable-shadows: true !default;

// Global
$text-muted: $muted !default;
$grid-gutter-width: 20px !default;

// Font Weight
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;

$font-weight-base: $font-weight-normal;

// Buttons
$btn-padding-y: 14px !default;
$btn-padding-x: 32px !default;
$btn-color: $dark !default;
$btn-link-color: $dark !default;
$btn-font-weight: 600 !default;
$btn-border-radius: 12px !default;
$btn-box-shadow: unset !default;
$btn-font-size: 18px !default;
$btn-border-radius-lg: 12px !default;

// Font Family
$font-family-sans-serif: "Instrument Sans", sans-serif !default;

// Font Sizes
$font-sizes: (
  1: 10px,
  2: 12px,
  3: 13px,
  4: 14px,
  5: 16px,
  6: 17px,
  7: 18px,
  8: 19px,
  9: 20px,
  10: 24px,
  11: 28px,
  12: 32px,
  13: 56px,
  14: 60px,
  15: 80px,
  16: 104px,
  ) !default;
$font-size-base: 1.125rem !default;

$h1-font-size: 80px !default;
$h2-font-size: 56px !default;
$h3-font-size: 32px !default;
$h4-font-size: 28px !default;
$h5-font-size: 24px !default;
$h6-font-size: 18px !default;

// Line Heght
$line-height-base: 1.5 !default;
$line-height-sm: 1.25 !default;
$line-height-lg: 2 !default;

// Body
$body-bg: $white !default;
$body-color: $gray-300 !default;

// Heading
$headings-color: $dark !default;
$headings-font-weight: 600 !default;

// Border Color
$border-color: #CFD2D6 !default;

// Box Shadow
$box-shadow: 0px -30px 60px -40px #101E340D !default;
$box-shadow-sm: 0px 6px 8px -6px rgba($black, 0.15) !default;
$box-shadow-lg: 0px 12px 16px -4px rgba(16, 24, 40, 0.08),
  0px 4px 6px -2px rgba(16, 24, 40, 0.03) !default;
$box-shadow-inset: unset !default;

// Card
$card-title-color: $dark !default;
$card-subtitle-color: var(--bs-body-color) !default;
$card-spacer-y: 32px !default;
$card-spacer-x: 32px !default;
$card-border-radius: 40px !default;
$card-border-width: 0px !default;
$card-box-shadow: $box-shadow !default;

// Border Radius
$border-radius: 24px !default;
$border-radius-sm: 4px !default;
$border-radius-ssm: 8px !default;
$border-radius-smd: 12px !default; 
$border-radius-md: 20px !default;
$border-radius-lg: 32px !default;
$border-radius-xl: 40px !default;
$border-radius-xxl: 60px !default;

// Badges
$badge-font-size: 12px !default;
$badge-font-weight: 600 !default;
$badge-padding-y: 7px !default;
$badge-padding-x: 10px !default;
$badge-color: var(--bs-dark);
$badge-border-radius: $border-radius-ssm !default;

// Tabs
$nav-pills-border-radius: $border-radius-sm !default;
$nav-pills-link-active-color: var(--bs-secondary) !default;
$nav-pills-link-active-bg: var(--bs-secondary-bg-subtle) !default;
$nav-link-padding-y: 0.375rem !default;
$nav-link-padding-x: 0.625rem !default;
$nav-link-font-size: 16px !default;
$nav-link-font-weight: 500 !default;
$nav-link-color: #101E3480 !default;
$nav-tabs-border-width: 1px !default;
$nav-tabs-border-color: $border-color !default;

// Breadcrumb
$breadcrumb-font-size: 18px !default;
$breadcrumb-item-padding-x: 0.625rem !default;
$breadcrumb-active-color: $dark !default;

// Tooltips
$tooltip-font-size: 12px !default;
$tooltip-bg: $dark;

// Input
$input-placeholder-color: #001B3699;
$form-label-color: #001B3699;
$form-label-font-weight: 500;
$form-select-indicator-padding: 38px;
$form-select-border-radius: 12px !default;
$form-select-box-shadow: unset !default;
$form-select-font-size: 16px !default;
$form-select-padding-y: 11px !default;
$input-border-radius: 12px !default;
$input-group-addon-bg: #001B3699 !default;
$input-group-addon-border-color: #001B3626 !default;
$input-border-color: #001B3626 !default;
$input-bg: transparent !default;
$input-color: #001B3699 !default;
$input-padding-y: 14px;
$input-padding-x: 15px;
$form-check-input-width: 1.5em;
$form-check-min-height: 1.5em;
$form-check-label-color: #001B3699;
$form-check-input-border-radius: 8px !default;
$form-check-input-border: 1.25px solid #001B3626 !default;
$form-check-input-checked-bg-color: var(--bs-primary
);


// Dropdown
$dropdown-border-radius: $border-radius-smd !default;
$dropdown-border-width: 0 !default;
$dropdown-item-padding-y: 6px !default;
$dropdown-link-hover-bg: var(--bs-primary) !default;
$dropdown-link-hover-color: var(--bs-white) !default;
$dropdown-link-active-bg: var(--bs-primary) !default;
$dropdown-link-active-color: var(--bs-white) !default;
$link-color: $dark !default;

$link-hover-color: $primary !default;

// Accordion
$accordion-bg: transparent;
$accordion-padding-y: 30px;
$accordion-padding-x: 0;
$accordion-button-color: $dark;
$accordion-body-padding-y: 20px;
$accordion-border-color: $border-color;
$accordion-button-active-bg: transparent !default;
$accordion-button-active-color: $dark;
$accordion-icon-color: $dark;
$accordion-icon-active-color: $dark;
$accordion-button-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --%3E%3Cpath fill='currentColor' d='M11 13H6q-.425 0-.712-.288T5 12t.288-.712T6 11h5V6q0-.425.288-.712T12 5t.713.288T13 6v5h5q.425 0 .713.288T19 12t-.288.713T18 13h-5v5q0 .425-.288.713T12 19t-.712-.288T11 18z'/%3E%3C/svg%3E");
$accordion-button-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from IconaMoon by Dariush Habibpour - https://creativecommons.org/licenses/by/4.0/ --%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M5 12a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H6a1 1 0 0 1-1-1' clip-rule='evenodd'/%3E%3C/svg%3E");


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1612px,
  ) !default;


$hr-border-color: $border-color !default;
$hr-opacity: 1 !default;