.round-32 {
  width: 32px !important;
  height: 32px !important;
}

.round-36 {
  width: 36px !important;
  height: 36px !important;
}

.round-40 {
  width: 40px !important;
  height: 40px !important;
}

.round-48 {
  width: 48px !important;
  height: 48px !important;
}

.round-64 {
  width: 64px !important;
  height: 64px !important;
}