.w-fit {
    width: fit-content !important;
}

.card {
    margin-bottom: 24px;
}

.cursor-auto {
    cursor: auto !important;
}

.rounded-12 {
    border-radius: 12px;
}

.rounded-20 {
    border-radius: 20px;
}

.text-truncate-2 {
    overflow: hidden;
    display: block;
    max-height: 4.4rem;
    -webkit-line-clamp: 2;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.btn-outline-white {
    &:hover {
        color: var(--bs-dark);
        background-color: var(--bs-white);
        border-color: var(--bs-white);
    }
}