.porject-img {}

.porject-item .porject-img::before {
    content: "";
    display: block;
    padding-top: 89%;
}

.porject-item .porject-img img {
    transition: all 0.2s ease;
}

.porject-item .porject-img>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.porject-img::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 27, 54, 0) 44.51%, #001B36 100%);
}

.vivere-residences-img::before {
    content: "";
    display: block;
    padding-top: 96%;
}

.vivere-residences-img img {
    transition: all 0.2s ease;
}

.vivere-residences-img:hover img {
    transform: scale(1.1);
}

.vivere-residences-img>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

.faq-accordion .accordion-item {
    padding: 29px 32px;
    border-radius: $border-radius-xl;
    background-color: var(--bs-primary-bg-subtle);
}

.faq-accordion .accordion-button:not(.collapsed) {
    padding-bottom: 20px !important;
    border-bottom: rgba($white, 0.1) !important;
}

.faq-accordion .accordion-item .accordion-header .accordion-button {
    padding: 0;
}

.faq-accordion .accordion-item,
.faq-accordion .accordion-flush>.accordion-item:last-child {
    border: inherit !important;
    border-image: inherit !important;
}

.get-in-touch::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #001B36CC;
}

.subscribe-email input::placeholder{
    color: var(--bs-white);
}