.porject-img {}

.porject-item .porject-img::before {
    content: "";
    display: block;
    padding-top: 89%;
}

.porject-item .porject-img img {
    transition: all 0.2s ease;
}

.porject-item .porject-img>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.porject-img::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 27, 54, 0) 44.51%, #001B36 100%);
}