.porject-item .porject-img::before {
    content: "";
    display: block;
    padding-top: 89%;
}

.porject-item .porject-img {
    cursor: pointer;
}

.gallery-slider .item img,
.construction-update-slider .item img,
.vivere-residences img,
.banner-slider .item img,
.porject-item .porject-img img,
.vivere-residences-img img,
.available-units-item-img img {
    transition: all 0.2s ease;
    cursor: pointer;
}

.gallery-slider .item>img,
.construction-update-slider .item>img,
.vivere-residences>img,
.banner-slider .item>img,
.porject-item .porject-img>img,
.vivere-residences-img>img,
.available-units-item-img>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vivere-residences-img:hover img,
.porject-item .porject-img:hover img,
.banner-slider .item:hover>img,
.vivere-residences:hover img,
.gallery-slider .item:hover img,
.construction-update-slider .item:hover img,
.available-units-item-img:hover img {
    transform: scale(1.1);
}

.porject-img::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 27, 54, 0) 44.51%, #001B36 100%);
}

.vivere-residences-img::before {
    content: "";
    display: block;
    padding-top: 96%;
}

.faq-accordion .accordion-item {
    padding: 29px 32px;
    border-radius: $border-radius-xl;
    background-color: var(--bs-primary-bg-subtle);
}

.faq-accordion .accordion-button:not(.collapsed) {
    padding-bottom: 20px !important;
    border-bottom: rgba($white, 0.1) !important;
}

.faq-accordion .accordion-item .accordion-header .accordion-button {
    padding: 0;
}

.faq-accordion .accordion-item,
.faq-accordion .accordion-flush>.accordion-item:last-child {
    border: inherit !important;
    border-image: inherit !important;
}

.get-in-touch::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #001B36CC;
}

.subscribe-email input::placeholder {
    color: var(--bs-white);
}

.mobile-offcanvas .nav-item.dropdown .dropdown-menu {
    position: relative !important;
    transform: none !important;
    background-color: var(--bs-dark);
}

@include media-breakpoint-down(md) {
    .predicted-house-price {
        border-right: 0 !important;
    }
}





// index.scss file 2

.banner-slider .item::before {
    content: "";
    display: block;
    padding-top: 81%;
}

.banner-slider .owl-nav {
    display: flex;
    align-items: center;
    gap: 7px;
    position: absolute;
    left: 24px;
    bottom: 24px;
}

.banner-slider .owl-carousel .owl-nav .owl-prev,
.banner-slider .owl-carousel .owl-nav .owl-next {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    box-shadow: 0px 8px 16px -8px #0000004D;
    box-shadow: 0px 13px 27px -5px #32325D40;
}

.vivere-residences::before {
    content: "";
    display: block;
    padding-top: 58%;
}

.amenities-card {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.04) 100%);
}

.gallery-slider .item::before {
    content: "";
    display: block;
    padding-top: 60%;
}

.owl-carousel .owl-dots {
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.owl-carousel .owl-dots .owl-dot {
    border-radius: 10px;
    height: 8px;
    width: 8px;
    margin: 0 5px;
    opacity: 0.3;
    background: var(--bs-dark);
}

.owl-carousel .owl-dots .owl-dot.active {
    opacity: 1;
    width: 30px;
}

.construction-update-slider .item::before {
    content: "";
    display: block;
    padding-top: 74%;
}

.social-media .social-icon:hover {
    background-color: var(--bs-primary) !important;
    color: var(--bs-white) !important;
}

.scroll-tabs .nav-pills .nav-link {
    color: var(--bs-dark); 
}

.scroll-tabs .nav-pills .nav-link.active,
.scroll-tabs .nav-pills .nav-link:hover {
    background-color: rgba($white, 0.4);
    font-weight: 600;
}

.available-units-item-img::before {
    content: "";
    display: block; 
    padding-top: 61%;
}